---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Contact | Ian McClue" description="Get to Know Ian McClue">
	<div class="stack gap-20">
		<main class="wrapper contact">
			<Hero
				title="Contact"
				tagline="Thanks for stopping by. Get to know me some more!"
			>
				<img
					width="1553"
					height="873"
					src="/assets/chineseproverb.png"
					alt="Chinese proverb"
				/>
			</Hero>

		<section>
    <h2 class="section-title">Interests</h2>
    <div class="content section-content">
        <p class="interest-paragraph" style="margin-bottom: 20px;">
            <strong style="text-decoration: underline;">Currently Reading:</strong> <em>"Island" by Aldous Huxley</em>. A captivating exploration of utopian themes and human nature.
        </p>
        <p class="interest-paragraph" style="margin-bottom: 20px;">
            <strong style="text-decoration: underline;">Goals/Aspiration:</strong> <strong>Work in progress.</strong> Come back in 12 Months.
        </p>
        <p class="interest-paragraph" style="margin-bottom: 20px;">
            <strong style="text-decoration: underline;">Personal Philosophy:</strong> <a href="https://www.fr99.xyz/posts/essentialism/">Essentialism</a>. A focus on simplicity, clarity, and prioritizing what truly matters.
        </p>
        <p class="interest-paragraph" style="margin-bottom: 20px;">
            <strong style="text-decoration: underline;">Steal a Recipe:</strong> <strong>Korean Hot Wings.</strong> An adventure in culinary delights, experimenting with flavors and techniques.
        </p>
        <p class="interest-paragraph" style="margin-bottom: 20px;">
            <strong style="text-decoration: underline;">Interesting Website:</strong> <a href="https://www.postsecretvoicemail.com/">Post-Secret Voicemail</a>. This list will be updated randomly.
        </p>
    </div>
</section>


			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Unmatched perspicacity.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Contact</h2>
				<div class="content">
					<p>ian@fiatluxlabs.co</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.contact {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.project-paragraph {
		margin: 10px;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.contact {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.contact > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
</style>
