---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Contact | Ian McClue" description="About Ian McClue Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper contact">
			<Hero
				title="Contact"
				tagline="Thanks for stopping by. Read below to learn more about proejcts I am working on and how to contact me."
			>
				<img
					width="1553"
					height="873"
					src="/assets/portrait6.jpg"
					alt="Ian McClue at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Projects</h2>
				<div class="content section-content">
					<p class="project-paragraph">
						Project 1: <a href="https://astro.build/">Get Laid or Paid</a> preproduct startup tool to validate whether or not your product will have success.
					</p>
					<p class="project-paragraph">
						Project 2: <a href="https://astro.build/">CoeusAI</a> AI consulting businesses providing bespoke solutions for businesses looking to use AI in business.
					</p>
					<p class="project-paragraph">
						Project 3: <a href="https://astro.build/">GlowupAI</a> social consumer AI photo app.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Corporis voluptates tenetur laudantium.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Contact</h2>
				<div class="content">
					<p>officia unde omnis</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.contact {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.project-paragraph {
		margin: 10px;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.contact {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.contact > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
</style>
